<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Classmate App</title>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js"></script>
  <link rel="stylesheet" href="/css/calendar.css" />
  <link rel="stylesheet" href="/css/avail.css" /> 
</head>
<body>
  <header>
    <h1 style="color:rgb(0 80 53)">ClassMate</h1>
    <nav>
      <a href="/calendar">Calendar</a>
      <a href="/availability">Availability</a>
      <a href="/productivity">Productivity</a>
      <a href="/groups/page">My Groups</a>
      <!-- This span will be updated by an external script -->
      <span id="authLinks"></span>
    </nav>
    <script src="/js/authHeader.js"></script>
  </header>
