<%- include('partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/public/css/avail.css">
  <meta charset="UTF-8" />
  <title>Parking Availability</title>
</head>
<body>
  <h1>UNC Charlotte Parking Availability</h1>
  <table id="parkingTable">
    <thead>
      <tr>
        <th>Lot Code</th>
        <th>Name</th>
        <th>Availability</th>
        <th>Map</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <script src="/js/avail.js"></script>
</body>
</html>
