<%- include('partials/header') %>
    <link rel="stylesheet" href="/css/styles.css">
    <div class="logo-container">
        <img src="/css/UNC_Charlotte_logo.png" alt="UNC Charlotte Logo" class="logo-3d">
        
        <h1 class="shadow-text"></h1>
    </div>
</body>
</html>
