<%- include('partials/header') %>

<main>
    <h1>Welcome to ClassMate!</h1>
    <img src="https://www.charlotte.edu/sites/www.charlotte.edu/files/featured/R1%20Launch%20Slider%201800x750.jpg" width="1200" height="600">
</main>
</body>
</html>
