@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
 /* Ensure the calendar container is styled appropriately */
      #calendar {
        max-width: 900px;
        margin: 40px auto;
        padding: 40px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 5px 20px 50px rgba(0,0,0,0.5);
        color: #fff;
      }

      /* Modal overlay: covers entire screen, on top of the calendar */
      .modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.5);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 1000;  /* High z-index to be on top */
      }

      /* Modal content container */
      .modal-content {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        padding: 20px;
        border-radius: 15px;
        width: 320px;
        box-shadow: 0 0 20px #00000080;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .modal-content h3 {
        margin: 10px 0 5px;
        font-size: 1.2em;
      }
      .modal-content input, .modal-content select, .modal-content button {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        font-size: 1em;
        border: none;
        border-radius: 8px;
        outline: none;
        background: #e0dede;
        color: #333;
      }

      .modal-content button {
        background: #A49665;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s;
        padding: 10px;
        font-size: 1em;
        border: none;
        border-radius: 8px;
        outline: none;
        width: 100%;
        box-sizing: border-box;
      }

      /* Modal button hover effect */
      .modal-content button:hover {
        background: #005035;
      }
      #deleteEvent{
        background-color: #cc3f3f;
        margin: 5px;
      }
      #deleteEvent:hover{
        background-color: #ff1a1a;
      }
      .fc-event {
        background-color: #a49665;
        border: none;
        font-weight: 500;
        padding: 0 8px;
        font-size: 0.75rem;
        line-height: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 100px;
        display: inline-block;
        vertical-align: middle;

        transition: transform 0.2s ease-in-out;
      }
      .fc-event:hover {
        transform: scale(1.05);
        background-color: #ffffff60;
      }
      .fc-event.urgent-task {
      background-color: #ff4d4d !important;
      border-color: #ff1a1a !important;
      font-weight: bold;
    }